<link rel="import" href="../../polymer/polymer.html">

<polymer-element name="gdgbuea-jumbotron">
  <template>
    <style>
 /*   .jumbogrp{
      background-color: yellow;
      width: 100%;
      height: 300px;
      margin: 0;
      padding: 0px;
      overflow: hidden;
    }
    #jumbotitle{
      font-size: 47px;
    }
    #headgroup{
      position: absolute;
      z-index: 500;
      background-color: rgba(20, 173, 75, 0.77);
      top: 30%;
      right: 5%;
      height: auto;
      width: 300px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 10px; 
      text-align: center;
      padding-bottom: 30px;
    }
    .coverimg{
      position: relative;
      top: 0px;
      z-index: 0;
      width: 100%;
      height: 100%;
    }
    .gdglogo{
      width: 68px;
    }
    @media (min-width: 800px) {
      .jumbogrp{
        height: 500px;
      }

      #headgroup{
      top: 50%;
      right: 5%;
      height: auto;
      width: 400px;
    }
    

    }
      @media (max-width: 800px) {
        .gdglogo{
          width: 41px;
        }   
      }*/
    </style>

    <div class="jumbogrp">

      
      <content select="div"></content>
      <content select="img"></content>
      


    </div>
    
    <content></content>
  </template>
  <script>
  Polymer({});
  </script>
</polymer-element>
